<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

<p th:text="${'Name: ' + position.getName()}">VALUE</p>
<p th:text="${'id: ' + position.getId()}">VALUE</p>


<a th:href="@{/position/{id}/edit(id=${position.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/position/{id}(id=${position.getId()})}">
    <br/>
    <input type="submit" value="Delete">
</form>
<br>
<H2>Developer on position</H2>

<div th:each="developer : ${DeveloperPos}">
    <a th:href="@{/developer/{id}(id=${developer.getId()})}"
       th:text="${developer.getName()}">developer</a>
</div>


</body>
</html>
