<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>
<!--<form th:action="@{/developer/new}" autocomplete="off" th:object="${newDeveloperForm}" class="form" method="POST">-->
<form  th:object="${newDeveloperForm}" class="form" method="POST">
    <fieldset>
        <div class="form-group">
            <H4>Enter name</H4>
            <input type="text" th:field="*{name}" class="form-control input-lg" title="name" />

            <H4>Position</H4>
            <select  th:field="*{position}" name="position" >
                <option value="0">select</option>
                <option th:each="pos : ${positions}" th:value="${pos.getId()}"
                        th:text="${pos.getName()}"></option>
            </select>
        </div>
        <br>
        <input type="submit" value="Create">
    </fieldset>
</form>

</body>
</html>
